<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Ching Mei</string>
		<key>phrases</key>
		<array>
			<string>OMG</string>
			<string>Oh! shit</string>
			<string>John!!</string>
			<string>REALLY?</string>
			<string>No.fu*king.way!</string>
			<string>God bless everyone</string>
			<string>ok, this is SO RIDICULOUS</string>
			<string>OH.MY.GOD</string>
			<string>Please order dinner before 18:30</string>
			<string>Yo Yo Yo</string>
			<string>我要尿尿</string>
			<string>ok, this is SO RIDICULOUS</string>
			<string>You&apos;re joking!</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>YY</string>
		<key>phrases</key>
		<array>
			<string>等一下嘛！</string>
			<string>這很快，這很快。</string>
			<string>喔。</string>
			<string>Yes!</string>
			<string>Skip me</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>John</string>
		<key>phrases</key>
		<array>
			<string>Holly Cow</string>
			<string>Can someone please feed Obama?</string>
			<string>Obama? Obama? Obamaa?</string>
			<string>Has anyone seen Obama?</string>
			<string>er</string>
			<string>mm...</string>
			<string>Scrum please</string>
			<string>*whisper* do you want to talk about...</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Jaime</string>
		<key>phrases</key>
		<array>
			<string>Sorry, I need to go.</string>
			<string>Sorry, I need to run.</string>
			<string>one way to do this would be...</string>
			<string>歪歪? 歪歪?</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Angela</string>
		<key>phrases</key>
		<array>
			<string>好餓喔</string>
			<string>er</string>
			<string>What?!</string>
			<string>我要吐</string>
			<string>好煩哦！</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Mica</string>
		<key>phrases</key>
		<array>
			<string>Love &amp; Peace</string>
			<string>嗚嗚嗚</string>
			<string>哈哈哈哈哈哈哈</string>
			<string>Lunch?</string>
			<string>What?!</string>
			<string>吼唷</string>
			<string>有事嗎？</string>
			<string>隨！</string>
			<string>Hola</string>
			<string>huh?</string>
			<string>BHX</string>
			<string>pila</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dix</string>
		<key>phrases</key>
		<array>
			<string>呃。。。這可能有點難。。。</string>
			<string>欸，對。</string>
			<string>我要吃麥當勞</string>
			<string>齁 YY</string>
			<string>Ya!</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Fumin</string>
		<key>phrases</key>
		<array>
			<string>Thanks</string>
			<string>我要再想一下</string>
		</array>
	</dict>
</array>
</plist>
